<main>
    <!-- Start Add Recipe Section -->
    <div class="createPage">
        <h2>Add Recipe</h2>
        <!-- Start Add Recipe Form -->
        <form method="POST">
            <p>
                <input type="text" name="recipeFor" placeholder="Recipe for...">
            </p>

            <p>
                <input type="number" name="cookingTime" placeholder="Cooking time in minutes">
            </p>

            <p>
                <textarea type="text" name="description" placeholder="Description"></textarea>
            </p>

            <p>
                <textarea type="text" name="products" placeholder="Products"></textarea>
            </p>

            <p>
                <input type="text" name="image" placeholder="Link to image">
            </p>
            <!-- Add Photo Button -->
            <button class="add-btn" type="submit">Add Recipe</button>
        </form>
    </div>
</main>