<main>
    <!--Welcome Page-->
    <section class="welcome-content">
        <article class="welcome-content-text">
            <h1>Place for Your</h1>
            <h1 class="bold-welcome">Favorite recipes</h1>
            <p>If you are a non-professional cooker and you like to prepare delicious food, share your recipe here
            </p>
        </article>
        <article class="welcome-content-image">
            <img src="/static/images/cooking-activity-wide.jpg" alt="">
        </article>
    </section>

</main>